{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8"> 
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <title></title>
   <meta name="description" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="shortcut icon" href="{% static 'ftco-32x32.png' %}">

   <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+VAdr3k6cqGpPjXkbJHIuM/CJ5InAI6fDj4sD6k/KJmJiS" crossorigin="anonymous">
 
   <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
   <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
   <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-training-studio.css' %}">
 
 
   <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
   <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
   <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
   <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
   <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
 
   <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
 
   <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
 
   <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">
 
   <link rel="stylesheet" href="{% static 'css/aos.css' %}">
   <link href="{% static 'css/jquery.mb.YTPlayer.min.css' %}" media="all" rel="stylesheet" type="text/css">
 
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"></script>

   <style>
      .soul-logo { 
         mix-blend-mode: color-burn;
      }

      .placform::placeholder {
         position: absolute;
         left: 10px;
      }


      label {
         font-weight: bold;
      }
      #sportsCentersTable {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        #sportsCentersTable th, #sportsCentersTable td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        #sportsCentersTable th {
            background-color: #f2f2f2;
        }

        #sportsCentersTable img {
            max-width: 50px;
            height: auto;
        }
        .header-panel {
    background-color: #333; /* Set the background color */
    padding: 10px; /* Add some padding for better appearance */
    text-align: center; /* Center the buttons horizontally */
}

.header-panel button {
    background-color: #555; /* Set the button background color */
    color: #fff; /* Set the button text color */
    padding: 8px 16px; /* Add padding to the buttons */
    margin: 0 5px; /* Add some margin between buttons */
    border: none; /* Remove button border */
    cursor: pointer; /* Add a pointer cursor on hover */
}

.header-panel button:hover {
    background-color: #777; /* Change button background color on hover */
}

      

   </style>
</head>


      <header class="header-area header-sticky"  style="background:  #000000;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">Sports<em>HuB</em></a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <nav class="navbar">
                            <ul class="nav">
                                <li class="scroll-to-section"><a href="{% url 'index' %}">Home</a></li>
                                <li class="scroll-to-section"><a href="{% url 'Training:render_my_template' %}">Train with ZIZU</a></li>
                                <li class="scroll-to-section"><a href="{% url 'users:role_approval' %}">Go to Role Approval</a></li>
                                <li class="scroll-to-section"><a href="{% url 'users:logout' %}" class="nav-link">Logout</a></li>
                            </ul>
                            <div class="header-panel">
                                <button onclick="showRecents()">Show Recents</button>
                                <button onclick="showResources()">Show Resources</button>
                            </div>
                        </nav>      
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
        <!-- Content Block -->

        
<br>
<br>

         
        {% block content %}
        <div class="container" style="background-color: #264653!important; margin-top: 70px; margin-bottom: 50px;">
            <center><h1 style="color: rgb(241, 241, 241); font-weight: bold; text-transform: uppercase;">Admin Dashboard</h1></center>
          </div>
  

          <div class="container">
            <section id="recents">
        
                <!-- Equipment Reservations -->
                <div class="container" style="color: #FFA500;">
                    <h1>Equipment Reservations</h1>
        
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr style="background-color: #264653; color: #ffffff;">
                                <th>Assigned By (Username)</th>
                                <th>Assigned To (Username)</th>
                                <th>Equipment</th>
                                <th>Time Slot</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for reservation in last_5_reservations %}
                                <tr>
                                    <td style="background-color: #ffffff; color: #000000;">{{ reservation.trainer.user.username }}</td>
                                    <td style="background-color: #ffffff; color: #000000;">{{ reservation.fitness_user.user.username }}</td>
                                    <td style="background-color:  #ffffff; color: #000000;">{{ reservation.equipment.name }}</td>
                                    <td style="background-color:  #ffffff; color: #000000;">{{ reservation.timeslot }}</td>
                                    <td style="background-color:  #ffffff; color: #000000;">{{ reservation.date }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
        
                <!-- Training Plan Assignments -->
                <div class="container">
                    <h1 style="color: black;">Training Plan Assignments</h1>
        
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr style="background-color: #264653; color: #ffffff;">
                                <th>User</th>
                                <th>Plan</th>
                                <th>Assigned By</th>
                                <th>Assigned Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for assignment in last_3_accepted_plans %}
                                <tr>
                                    <td style="background-color: #ffffff; color: #000000;">
                                        {{ assignment.user.user.username }}</td>
                                    <td style="background-color: #ffffff; color: #000000;">
                                        {{ assignment.plan.plan_name }}</td>
                                    <td style="background-color:  #ffffff; color: #000000;">
                                        {{ assignment.assigned_by.user.username }}</td>
                                    <td style="background-color: #ffffff; color: #000000;">
                                        {{ assignment.assigned_date }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
        
                <!-- Last 5 Connections Made -->
                <div class="container">
                    <h1 style=" color: #c64918;">Last 5 Connections Made</h1>
        
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr style="background-color: #000000; color: #ffffff;">
                                <th>Fitness Trainer</th>
                                <th>Fitness User</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for connection in last_5_connections %}
                                <tr>
                                    <td>{{ connection.fitness_trainer.user.username }}</td>
                                    <td>{{ connection.fitness_user.user.username }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="container mt-3">
                    <div class="row">
                        {% for sports_center in sports_centers %}
                        <div class="col-md-4 mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ sports_center.name }}</h5>
                                    <p class="card-text">Location: {{ sports_center.location }}</p>
                                    <a href="{% url 'inventory_detail' sports_center_id=sports_center.id %}" class="btn btn-primary">Inventory</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- Assign Sports Trainer to Sports Center Form -->
                <div class="container mt-5">
                    <h2 class="text-uppercase">Assign Sports Trainer to Sports Center</h2>
                    <form method="post" action="{% url 'Members:admin_dashboard' %}" class="mt-3">
                        {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-md-6">
                                <label for="sports_center" class="form-label">Select Sports Center:</label>
                                <select name="sports_center" class="form-select" required>
                                    {% for sports_center in sports_centers_without_trainers %}
                                    <option value="{{ sports_center.id }}">{{ sports_center.name }}</option>
                                    <div class="container mt-3">
                                        
                                    </div>
                                    
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="sports_trainer" class="form-label">Select Sports Trainer:</label>
                                <select name="sports_trainer" class="form-select" required>
                                    {% for sports_trainer in sports_trainers %}
                                    <option value="{{ sports_trainer.id }}">{{ sports_trainer.user.username }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Assign</button>
                    </form>
                </div>
        
            </section>
      
        
        <section id="resources" style="display: none;">
            <h1>Resources Section</h1>
            <!-- Include additional components or content for the Resources section here -->
    
            <!-- Example: Display a Chart (Replace this with your actual chart code) -->
            <div style="text-align: center;">
                <div style="display: inline-block; text-align: left; border: 1px solid #ccc; padding: 10px; margin-top: 20px;">
                    <h2>Total Amounts Received:</h2>
                    <table style="width: 100%;">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Total Amount Received for Successful Payments:</td>
                                <td>{{ total_amount_received }}</td>
                            </tr>
                            <tr>
                                <td>Total Amount Received for Successful Payments (Reservations):</td>
                                <td>{{ total_amount_for_reservations }}</td>
                            </tr>
                            <tr>
                                <td>Total Amount Received for Successful Payments (Training Plans):</td>
                                <td>{{ total_amount_for_training_plans }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
         
        </section>
    
        <!-- Add buttons or links to toggle between sections -->
  
    </div>
    
    <script>
        function showRecents() {
            document.getElementById("recents").style.display = "block";
            document.getElementById("resources").style.display = "none";
        }
    
        function showResources() {
            document.getElementById("recents").style.display = "none";
            document.getElementById("resources").style.display = "block";
        }
    </script>
        <script>
            $(document).ready(function() {
                $('#recentPlansTable').DataTable(); // Initialize DataTable
            });
        </script>
            <script>
                $(document).ready(function() {
                    $('#sportsCentersTable').DataTable(); // Initialize DataTable
                });
            </script>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'dashboard.js' %}"></script>

        {% endblock %}
        
    
        <!-- Bootstrap and JavaScript links (unchanged) -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <!-- jQuery -->
    <script src="{% static 'assets/js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'assets/js/popper.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'assets/js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/js/imgfix.min.js' %}"></script> 
    <script src="{% static 'assets/js/mixitup.js' %}"></script> 
    <script src="{% static 'assets/js/accordions.js' %}"></script>
    
    <!-- Global Init -->
    <script src="{% static 'assets/js/custom.js' %}"></script>
    


    </body>
    </html>
    