{% extends 'sadmin.html' %}


{% block title %}All Users{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>All Users</h1>
    <div class="row">
        {% for user in users %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <!-- Card Header with Teal Background -->
                <div class="card-header" style="background-color: #264653; color: #fff;">
                    <h5 class="card-title mb-0">{{ user.username }}</h5>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td><strong>Email:</strong></td>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <td><strong>Role:</strong></td>
                                <td>{{ user.role }}</td>
                            </tr>
                            {% if user.role == 'FitnessUser' %}
                            <tr>
                                <td><strong>Fitness Goal:</strong></td>
                                <td>{{ user.fitnessuser.fitness_goal }}</td>
                            </tr>
                            <tr>
                                <td><strong>Height:</strong></td>
                                <td>{{ user.fitnessuser.height }}</td>
                            </tr>
                            <tr>
                                <td><strong>Weight:</strong></td>
                                <td>{{ user.fitnessuser.weight }}</td>
                            </tr>
                            {% elif user.role == 'FitnessTrainer' %}
                            <tr>
                                <td><strong>Experience:</strong></td>
                                <td>{{ user.fitnesstrainer.experience }}</td>
                            </tr>
                            <tr>
                                <td><strong>Certification:</strong></td>
                                <td>{{ user.fitnesstrainer.certification }}</td>
                            </tr>
                            <tr>
                                <td><strong>Training Goal:</strong></td>
                                <td>{{ user.fitnesstrainer.training_goal }}</td>
                            </tr>
                            <tr>
                                <td><strong>Height:</strong></td>
                                <td>{{ user.fitnesstrainer.height }}</td>
                            </tr>
                            <tr>
                                <td><strong>Weight:</strong></td>
                                <td>{{ user.fitnesstrainer.weight }}</td>
                            </tr>
                            {% elif user.role == 'SportsTrainer' %}
                            <tr>
                                <td><strong>Specialization:</strong></td>
                                <td>{{ user.sportstrainer.specialization }}</td>
                            </tr>
                            <tr>
                                <td><strong>Height:</strong></td>
                                <td>{{ user.sportstrainer.height }}</td>
                            </tr>
                            <tr>
                                <td><strong>Weight:</strong></td>
                                <td>{{ user.sportstrainer.weight }}</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        {% endfor %}
    </div>
</div>
{% endblock %}
