{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sports Hub Dashboard</title>
 

    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+VAdr3k6cqGpPjXkbJHIuM/CJ5InAI6fDj4sD6k/KJmJiS" crossorigin="anonymous">
  
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
 
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.css' %}">
     <link rel="stylesheet" href="{% static 'assets/css/templatemo-training-studio.css' %}">
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
  
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
  
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
  
    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">
  
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    <link href="{% static 'css/jquery.mb.YTPlayer.min.css' %}" media="all" rel="stylesheet" type="text/css">
  
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
       integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
       integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
       crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <!-- Add other stylesheets here -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
   

    <style>
    

        .soul-logo {
            mix-blend-mode: color-burn;
        }

        .placform::placeholder {
            position: absolute;
            left: 10px;
        }

        label {
            font-weight: bold;
        }
        .main-content {
            margin-left: 250px;
            padding-top: 30px;
        }

        .container-right {
            margin-left: 250px; 
            padding: 30px; 
            background-color: #ffffff; 
            color: #000000; 
            border: 2px solid #ffffff;
        }
        .card {
            border: 1px solid #ddd;
            padding: 10px;
            margin: 10px;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            max-width: 200px; /* Set the maximum width of the card */
        }

        /* Container styles */
        .container {
            max-width: 600px; /* Set the maximum width of the container */
            margin: 0 auto; /* Center the container horizontally */
        }

        /* Smaller text styles */


 
    </style>
</head>
<header class="header-area header-sticky" style="background: #000000; border-bottom: 2px solid #ffffff;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">

                

                    <ul class="nav">
                        <li class="scroll-to-section"><a href="{% url 'index' %}">Home</a></li>

     
                        <li class="scroll-to-section"><a href="{% url 'users:logout' %}" class="nav-link">Logout</a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>

                </nav>
            </div>
        </div>
    </div>
<body style="background-color: #898787; color: #ffffff; border-bottom: 2px solid #ffffff;">

   
    <aside class="sidebar" style="background: #000000; color: #fff; width: 220px; height: 100vh; position: fixed; top: 0; left: 0; padding-top: 30px; padding-left: 20px; border: 2px solid #ffffff;">
       

    
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav d-flex flex-column">
                        <div>
                            <a href="index.html" class="logo" style="color: #ffffff; font-size: 1.0em; text-shadow: 2px 2px 4px #000;">Sports<em>Hub</em></a>
                        </div>
                        <ul class="nav flex-column">
                            <br>
                            <li class="scroll-to-section"><a href="{% url 'index' %}" style="color: #fff; margin-bottom: 10px; padding: 10px 0; text-shadow: 1px 1px 2px #000;"><i class="fas fa-home fa-lg"></i> Home</a></li>
                            <br>  
                            <li class="scroll-to-section"><a href="{% url 'Members:create_weekly_plan' %}" style="color: #fff; margin-bottom: 40px; text-shadow: 1px 1px 2px #000;"><i class="far fa-calendar-alt fa-lg"></i> Weekly Plan</a></li>
                            <br>  
                            <li class="scroll-to-section"><a href="{% url 'Members:create_training_plan' %}" style="color: #fff; margin-bottom: 10px; text-shadow: 1px 1px 2px #000;"><i class="far fa-file-alt fa-lg"></i> Create Plan</a></li>
                            <br>    
                            <li class="scroll-to-section"><a href="{% url 'Members:cereservation_page' %}" style="color: #fff; margin-bottom: 10px; text-shadow: 1px 1px 2px #000;"><i class="fas fa-tools fa-lg"></i> Equipment</a></li>
                            <br>
                            <li><a href="{% url 'Training:create_routine' %}" style="color: #fff; margin-bottom: 10px; text-shadow: 1px 1px 2px #000;"><i class="fas fa-pen fa-lg"></i> Routine</a></li>
                            <br>
                            <li class="scroll-to-section"><a href="{% url 'Members:make_reservation' %}" style="color: #fff; margin-bottom: 10px; text-shadow: 1px 1px 2px #000;"><i class="far fa-calendar-plus fa-lg"></i> Make Reservations</a></li>
                            <br>
                            <br>
                            
                            <li class="scroll-to-section"><a href="{% url 'Members:suggest_training_plans' %}" style="color: #fff; margin-bottom: 10px; text-shadow: 1px 1px 2px #000;"><i class="fas fa-list fa-lg"></i> Training Plans</a></li>
                        </ul>
    
                    </nav>
                </div>
            </div>
        </div>
    </aside>
    


    <div class="container" style="margin-top: 20px;"> <!-- Adjust margin as needed -->
        <h1 class="mt-4" style="color: rgb(199, 66, 13); text-align: center; text-shadow: 2px 2px 4px #000;">Welcome, {{ sports_trainer.user.username }}!</h1>
        <div style="text-align: center;">
            <div style="text-align: center;">
                <div style="display: inline-block; text-align: left; border: 1px solid #ccc; padding: 10px; margin-top: 20px;">
                    <h2>Reservations for Your Sports Centers:</h2>
                    <table style="width: 100%;">
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Sport</th>
                                <th>Date</th>
                                <th>Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for reservation in sports_center_reservations %}
                            <tr>
                                <td style="color: blue;">{{ reservation.reserver.username }}</td>
                                <td style="color: blue;">{{ reservation.sport.name }}</td>
                                <td style="color: blue;">{{ reservation.reservation_date }}</td>
                                <td style="color: blue;">{{ reservation.slot.start_time }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            
        
        
        {% if sports_centers %}
            <h3>Your Sports Centers:</h3>
            <div style="display: flex; flex-wrap: wrap;"> <!-- Allow cards to wrap to the next line -->
                {% for center in sports_centers %}
                    <div class="card" style="margin-right: 20px; margin-bottom: 20px; width: 200px;">
                        <img src="{{ center.image.url }}" alt="{{ center.name }}" style="width: 100%; height: 150px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title">{{ center.name }}</h5>
                            <!-- Add other SportsCenter details as needed -->
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>You do not manage any Sports Centers.</p>
        {% endif %}
    

        
    
        
    </div>
    
        


        
    
        
        
        
        
    </div>



              
            
            
        

    </div>
    

   
    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 

</body>
