<!-- trainer_previous_assignments.html -->


{% block content %}
  <div class="container mt-4">
    <h2 class="mb-4">Previous Assignments</h2>

    {% for assignment in previous_assignments %}
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">{{ assignment.name }}</h5>
          <p class="card-text">{{ assignment.description }}</p>
          
          <h6 class="mt-3">Exercises:</h6>
          <ul class="list-group">
            {% for exercise in assignment.exercises.all %}
              <li class="list-group-item">{{ exercise.name }} - Sets: {{ exercise.sets }}, Reps: {{ exercise.reps }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
