<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Save Daily Event</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- jQuery UI CSS -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
    <div class="container-fluid bg-light py-4">
        <div class="container">
            <h2 class="mb-4">Save Daily Event</h2>

            <form method="post" action="{% url 'plan:save_workouts_for_client' %}">
                {% csrf_token %}
                
                <div class="form-group">
                    <label for="id_start_date">Start Date:</label>
                    <input type="date" name="start_date" class="form-control" id="id_start_date">
                </div>
                
                <div class="form-group">
                    <label for="id_end_date">End Date:</label>
                    <input type="date" name="end_date" class="form-control" id="id_end_date">
                </div>
                
                <div class="form-group">
                    <label for="id_workouts">Workouts:</label>
                    {{ form.workouts }}
                </div>
                
                <div class="form-group">
                    <label for="id_client">Select Client:</label>
                    {{ form.client }}
                </div>
                
                <button type="submit" class="btn btn-primary">Save Daily Event</button>
            </form>
        </div>
    </div>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- jQuery UI JS -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        $(function() {
            $("#id_start_date").datepicker({
                dateFormat: 'yy-mm-dd',
                minDate: 0, // Set the minimum date to today
                onSelect: function(selectedDate) {
                    $("#id_end_date").datepicker("option", "minDate", selectedDate);
                }
            });
            $("#id_end_date").datepicker({
                dateFormat: 'yy-mm-dd',
                minDate: 0 // Set the minimum date to today
            });
        });
    </script>
</body>
</html>
