<!-- profile.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Include necessary styles and scripts -->
    <title>User Profile</title>
</head>
<body>
    <!-- Display user details -->
    <h2>{{ user.username }}</h2>
    <img src="{{ user.profile_picture.url }}" alt="Profile Picture" style="width: 150px; height: 150px; object-fit: cover;">
    <p>Fitness Goal: {{ user.fitnessuser.fitness_goal }}</p>
    <p>Height: {{ user.fitnessuser.height }} cm</p>
    <p>Weight: {{ user.fitnessuser.weight }} kg</p>

    <!-- Display PDF -->
    <iframe src="{{ user.fitnessuser.medical_conditions_pdf }}" width="100%" height="600px"></iframe>


</body>
</html>
