{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en" style="background-color: #000000;">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sports Hub Dashboard</title>
 

    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+VAdr3k6cqGpPjXkbJHIuM/CJ5InAI6fDj4sD6k/KJmJiS" crossorigin="anonymous">
  
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
 
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.css' %}">
     <link rel="stylesheet" href="{% static 'assets/css/templatemo-training-studio.css' %}">
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
  
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
  
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
  
    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">
  
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    <link href="{% static 'css/jquery.mb.YTPlayer.min.css' %}" media="all" rel="stylesheet" type="text/css">
  
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
       integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
       integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
       crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <!-- Add other stylesheets here -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
   

    <style>
    

        .soul-logo {
            mix-blend-mode: color-burn;
        }

        .placform::placeholder {
            position: absolute;
            left: 10px;
        }

        label {
            font-weight: bold;
        }
        .main-content {
            margin-left: 250px;
            padding-top: 30px;
        }

        .container-right {
            margin-left: 250px; 
            padding: 30px; 
            background-color: #ffffff; 
            color: #000000; 
            border: 2px solid #ffffff;
        }
        .card-title {
  color: #262626;
  font-size: 1.5em;
  line-height: normal;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.small-desc {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  color: #452c2c;
}

.small-desc {
  font-size: 1em;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 2em;
  height: 2em;
  overflow: hidden;
  top: 0;
  right: 0;
  background: linear-gradient(135deg, #6293c8, #384c6c);
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.card {
  display: block;
  position: relative;
  max-width: 400px;
  max-height: 1000px;
  background-color: #f2f8f9;
  border-radius: 10px;
  padding: 2em 1.2em;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  background: linear-gradient(to bottom, #fd7404, #a7d1d9);
  font-family: Arial, Helvetica, sans-serif;
}

.card:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: linear-gradient(135deg, #ffffff, #ffffff);
  height: 92px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.35s ease-out;
}

.card:hover:before {
  transform: scale(28);
}

.card:hover .small-desc {
  transition: all 0.5s ease-out;
  color: rgba(255, 255, 255, 0.8);
}

.card:hover .card-title {
  transition: all 0.5s ease-out;
  color: #ffffff;
}


 
    </style>
</head>
<header class="header-area header-sticky" style="background-color: #000000;">
    <div class="container" style="background-color: #000000;">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">

                    <div>
                        <a href="index.html" class="logo" style="color: #ffffff; font-size: 1.0em; text-shadow: 2px 2px 4px #000;">Sports<em>Hub</em></a>
                    </div>  
                    

                    <ul class="nav">
                        <li class="scroll-to-section"><a href="{% url 'index' %}">Home</a></li>
                        
 
                            <li class="scroll-to-section"><a href="{% url 'Members:create_weekly_plan' %}" style="color: #fff; margin-bottom: 40px; text-shadow: 1px 1px 2px #000;"><i class="far fa-calendar-alt fa-lg"></i> Weekly Plan</a></li>

                            <li class="scroll-to-section"><a href="{% url 'Members:create_training_plan' %}" style="color: #fff; margin-bottom: 10px; text-shadow: 1px 1px 2px #000;"><i class="far fa-file-alt fa-lg"></i> Create Plan</a></li>
                                                    <li class="scroll-to-section"><a href="{% url 'Members:cereservation_page' %}" style="color: #fff; margin-bottom: 10px; text-shadow: 1px 1px 2px #000;"><i class="fas fa-tools fa-lg"></i> Equipment</a></li>

                            <li class="scroll-to-section"><a href="{% url 'Members:make_reservation' %}" style="color: #fff; margin-bottom: 10px; text-shadow: 1px 1px 2px #000;"><i class="far fa-calendar-plus fa-lg"></i> Make Reservations</a></li>

                            
                            <li class="scroll-to-section"><a href="{% url 'Members:suggest_training_plans' %}" style="color: #fff; margin-bottom: 10px; text-shadow: 1px 1px 2px #000;"><i class="fas fa-list fa-lg"></i> Training Plans</a></li>
                        
     
                        <li class="scroll-to-section"><a href="{% url 'users:logout' %}" class="nav-link">Logout</a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>

                </nav>
            </div>
        </div>
    </div>
    <body style="background-color: #000000; color: #ffffff;">
        <div class="container" style="background-color: #000000;">
            <div class="row">
                <!-- Trainer Welcome Card -->
                <div class="col-md-6">
                    <div class="border rounded p-4">
                        <h1 class="mt-4" style="color: rgb(199, 66, 13); text-align: center; text-shadow: 2px 2px 4px #000;">Welcome, {{ trainer.user.first_name }}</h1>
                        <div class="d-flex justify-content-center align-items-center mt-4">
                            <div class="card text-center bg-dark" style="width: 18rem;">
                                <img class="card-img-top rounded-circle" src="{{ trainer.user.profile_picture.url }}" alt="Trainer Profile" style="width: 150px; height: 150px; object-fit: cover;">
                                <div class="card-body">
                                    <h5 class="card-title">{{ trainer.user.first_name }}, Get Started!</h5>
                                    <p class="card-text">Welcome to your trainer dashboard. It's time to make a difference!</p>
                                    <p class="card-text">Start your journey by connecting with clients and helping them achieve their fitness goals.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-6">
                    <div class="border rounded p-4 mt-4 ">
                        <div class="card text-center bg-dark" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Your ToDo List</h5>
                                <div class="form-group">
                                    <textarea class="form-control" id="todoText" rows="3" placeholder="Add your tasks here..."></textarea>
                                </div>
                                <button class="btn btn-primary">Add Task</button>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
    
            <h1 class="display-4" style="color: #4285f4; text-align: center; text-shadow: 2px 2px 4px #000;">My Clients</h1>
    
            <div class="row">
                {% for user in connected_users %}
                <div class="col-md-6">
                    <div class="card mb-4" style="height: 480px;">
                        <br>
                        <img class="card-img-top rounded-circle" src="{{ user.user.profile_picture.url }}" alt="Profile Picture" style="width: 100px; height: 100px; object-fit: cover;">
                        <div class="card-body" style="height: 200px;">
                            <h5 class="card-title"><strong>{{ user.user.username }}</strong></h5>
                            <p class="card-text"><strong>Height (cm):</strong> {{ user.height }}</p>
                            <p class="card-text"><strong>Weight (kg):</strong> {{ user.weight }}</p>
                            <p class="card-text">
                                <strong>Nutrition Plan:</strong>
                                {% if user.nutritionplan_set.all %}
                                    {% for nutrition_plan in user.nutritionplan_set.all %}
                                        {{ nutrition_plan.name }} - {{ nutrition_plan.description }}<br>
                                        <a href="{% url 'Training:edit_nutrition_plan' nutrition_plan.id %}">Edit</a>
                                        <a href="{% url 'Training:delete_nutrition_plan' nutrition_plan.id %}">Delete</a>
                                    {% endfor %}
                                {% else %}
                                    <a href="{% url 'Training:assign_nutrition_plan' user.user.id %}" class="btn btn-success btn-sm">
                                        <i class="fas fa-check"></i> Assign Nutrition Plan
                                    </a>
                                {% endif %}
                            </p>
                            <p class="card-text">
                                <strong>Workout Routine:</strong>
                                {% if user.workoutroutine_set.all %}
                                    {% for workout_routine in user.workoutroutine_set.all %}
                                        {{ workout_routine.name }} - {{ workout_routine.description }}<br>
                                        <a href="{% url 'Training:edit_workout_routine' workout_routine.id %}">Edit</a>
                                        <a href="#" class="delete-workout" data-url="{% url 'Training:delete_workout_routine' workout_routine.id %}">Delete</a>
                                    {% endfor %}
                                {% else %}
                                    <a href="{% url 'Training:assign_workout_routine' user.user.id %}" class="btn btn-primary btn-sm">
                                        <i class="fas fa-dumbbell"></i> Assign Workout Routine
                                    </a>
                                {% endif %}
                            </p>
    
                            <p class="card-text">
                                <strong>Medical Conditions:</strong>
                                {% if user.medical_conditions_pdf %}
                                    <a href="{% url 'Members:download_pdf' user.medical_conditions_pdf.name %}" target="_blank">Medical reports</a>
    
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
    
            <div class="row mt-4 justify-content-end">
                <!-- Recent Reservations -->
                <div class="col-md-6" style="background-color: #ffffff; border-radius: 10px; padding: 15px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                    <h2 style="color: #f06d01;">Recent Reservations:</h2>
                    <table class="table table-bordered">
                        <!-- Table Content -->
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Time Slot</th>
                                <th>Fitness User</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for reservation in recent_reservations %}
                            <tr>
                                <td>{{ reservation.reservation_date }}</td>
                                <td>{{ reservation.slot.start_time }} - {{ reservation.slot.end_time }}</td>
                                <td>{{ reservation.fitness_user.user.first_name }}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="3">No recent reservations.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
    
                <div class="col-md-6" style="background-color: #ffffff; border-radius: 10px; padding: 15px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                    <h2 style="color: #4285f4;">Training Plan Assignments:</h2>
                    <ul class="list-group">
                        {% for assignment in training_plan_assignments %}
                        <li class="list-group-item">
                            <strong>Plan Name:</strong> {{ assignment.plan.plan_name }}<br>
                            <strong>Accepted:</strong> {% if assignment.is_accepted %}Yes{% else %}No{% endif %}
                        </li>
                        {% empty %}
                        <li class="list-group-item">No training plan assignments.</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
    
            <div class="row mt-4 justify-content-end">
                <!-- Weekly Fitness Plans -->
                <div class="col-md-6" style="background-color: #ffffff; border-radius: 10px; padding: 15px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                    <h2 style="color: #4285f4;">Weekly Fitness Plans:</h2>
                    <!-- List Content -->
                    <ul class="list-group">
                        {% for weekly_plan in weekly_fitness_plans %}
                        <li class="list-group-item">
                            <strong>Plan Name:</strong> {{ weekly_plan.plan_name }}<br>
                            <strong>Start Date:</strong> {{ weekly_plan.start_date }}<br>
                            <strong>End Date:</strong> {{ weekly_plan.end_date }}
                        </li>
                        {% empty %}
                        <li class="list-group-item">No weekly fitness plans.</li>
                        {% endfor %}
                    </ul>
                </div>
    
                <!-- Pending Connection Requests -->
                <div class="col-md-6" style="background-color: #ffffff; border-radius: 10px; padding: 15px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                    <h2 style="color: #4285f4;">Pending Connection Requests:</h2>
                    <ul class="list-group">
                        {% for request in pending_requests %}
                        <li class="list-group-item">
                            <strong>User:</strong> {{ request.fitness_user.user.username }}<br>
                            <strong>Status:</strong> {{ request.status }}<br>
                            {% if request.status == 'pending' %}
                            <form method="post" action="{% url 'Members:approve_reject_request' request.id %}">
                                {% csrf_token %}
                                <button type="submit" name="action" value="approve" class="btn btn-success btn-sm">Approve</button>
                                <button type="submit" name="action" value="reject" class="btn btn-danger btn-sm">Reject</button>
                            </form>
                            {% endif %}
                        </li>
                        {% empty %}
                        <li class="list-group-item">No pending requests.</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    
   
    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 

</body>
