{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sports Hub Dashboard</title>
 

    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+VAdr3k6cqGpPjXkbJHIuM/CJ5InAI6fDj4sD6k/KJmJiS" crossorigin="anonymous">
  
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
 
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.css' %}">
     <link rel="stylesheet" href="{% static 'assets/css/templatemo-training-studio.css' %}">
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
  
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
  
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
  
    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">
  
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    <link href="{% static 'css/jquery.mb.YTPlayer.min.css' %}" media="all" rel="stylesheet" type="text/css">
  
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
       integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
       integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
       crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <!-- Add other stylesheets here -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
   

    <style>
    

        .soul-logo {
            mix-blend-mode: color-burn;
        }

        .placform::placeholder {
            position: absolute;
            left: 10px;
        }

        label {
            font-weight: bold;
        }
        .main-content {
            margin-left: 250px;
            padding-top: 30px;
        }


 
    </style>
</head>
<header class="header-area header-sticky" style="background: # 000000; border-bottom: 2px solid #ffffff;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">

                

                    <ul class="nav">


                        
                        <a href="{% url 'inventory_request_create' %}" class="button">Create Inventory Request</a>
                        <li class="scroll-to-section"><a href="{% url 'users:logout' %}" class="nav-link">Logout</a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>

                </nav>
            </div>
        </div>
    </div>
<body style="background-color: #898787; color: #ffffff; border-bottom: 2px solid #ffffff;">

   
    <aside class="sidebar" style="background: #000000; color: #fff; width: 220px; height: 100vh; position: fixed; top: 0; left: 0; padding-top: 30px; padding-left: 20px; border: 2px solid #ffffff;">
       

    
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav d-flex flex-column">
                        <div>
                            <a href="index.html" class="logo" style="color: #ffffff; font-size: 1.0em; text-shadow: 2px 2px 4px #000;">Sports<em>Hub</em></a>
                        </div>
                        <ul class="nav flex-column">
                            <br>
                            <li class="scroll-to-section"><a href="{% url 'index' %}" style="color: #fff; margin-bottom: 10px; padding: 10px 0; text-shadow: 1px 1px 2px #000;"><i class="fas fa-home fa-lg"></i> Home</a></li>
                          <br>
                          <br>
                            <li class="scroll-to-section"><a href="{% url 'index' %}">Home</a></li>
                            <!-- <li class="scroll-to-section"><a href="{% url 'Members:suggest_training_plans' %}" style="color: #fff; margin-bottom: 10px; text-shadow: 1px 1px 2px #000;"><i class="fas fa-list fa-lg"></i> Training Plans</a></li> -->
                        </ul>
    
                    </nav>
                </div>
            </div>
        </div>
    </aside>
    


    <div class="container" style="margin-top: 20px;"> <!-- Adjust margin as needed -->
        <div class="d-flex justify-content-center">
        <h1 class="text-dark fs-1 fw-bold">Welcome, <h1 class="text-warning fs-1 fw-bolder">{{ sports_trainer.user.username }}</h1></h1></div>
        <div style="text-align: center;">
            <div style="text-align: center;">
                <div style="display: inline-block; text-align: left; border: 1px solid #ccc; padding: 10px; margin-top: 20px;">
                    <h2 class="text-dark fw-bold">Reservations for Your Sports Centers:</h2>
                    <table class="table table-bordered" style="width: 100%;">
                        <thead>
                            <tr class="text-dark fw-bold">
                                <th>User</th>
                                <th>Sport</th>
                                <th>Date</th>
                                <th>Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for reservation in sports_center_reservations %}
                            <tr>
                                <td>{{ reservation.reserver.username }}</td>
                                <td>{{ reservation.sport.name }}</td>
                                <td>{{ reservation.reservation_date }}</td>
                                <td>{{ reservation.slot.start_time }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            
        
            <div class="d-flex justify-content-center mt-4">
                <div class="d-flex justify-content-center flex-column  w-75">
                {% if sports_centers %}
                    <h3 class="text-dark fs-3 fw-bold">Your Sports Centers:</h3>
                    <div class="row">
                        {% for center in sports_centers %}
                            <div class="col-md-4 mb-4">
                                <div class="card w-100" style="height: 100%;">
                                <div class="d-flex justify-content-center" style="width: 18rem; height: 75%;">
                                    <div><img class="mt-3 rounded-border" style="width: 18rem; height: 75%;" src="{{ center.image.url }}" alt="{{ center.name }}" class="card-img-top"></div>
                                
                                </div>
                                    <div class="w-100 d-flex justify-content-center">
                                        <h5 class="card-title fw-bold">{{ center.name }}</h5>
                                        <!-- Add other SportsCenter details as needed -->
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>You do not manage any Sports Centers.</p>
                {% endif %}
            </div>
            
    
        


        
    
        
        

                        
     
      
    </div>
    <h2>Most Booked Slot</h2>
    {% if most_booked_slot %}
        <p>Slot ID: {{ most_booked_slot.slot }}</p>
        <p>Number of Reservations: {{ most_booked_slot.num_reservations }}</p>
    {% else %}
        <p>No reservations found.</p>
    {% endif %}

    <h2>Sports Center with Most Bookings</h2>
    {% if sports_center_with_most_booking %}
        <p>Name: {{ sports_center_with_most_booking.name }}</p>
        <p>Number of Bookings: {{ sports_center_with_most_booking.num_bookings }}</p>
    {% else %}
        <p>No sports center found.</p>
    {% endif %}

    <h2>Money Collected by Sports Centers</h2>
    <ul>
        {% for center in money_by_sports_center %}
            <li>
                <p>Name: {{ center.name }}</p>
                <p>Total Money Collected: ${{ center.total_money_collected }}</p>
            </li>
        {% endfor %}
    </ul>

    <h1>Most Selected Slots</h1>
    <table class="table table-bordered" border="1">
        <thead>
            <tr>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Number of Reservations</th>
            </tr>
        </thead>
        <tbody>
            {% for slot in most_selected_slots %}
            <tr>
                <td>{{ slot.start_time }}</td>
                <td>{{ slot.end_time }}</td>
                <td>{{ slot.num_reservations }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
            
    
    <table class="table table-bordered" border="1" >
        <thead>
            <tr>
                <th>Reserver</th>
                <th>Sport</th>
                <th>Slot Start Time</th>
                <th>Reservation Date</th>
                <th>Reservation Time</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in all_reservations %}
            <tr>
                <td>{{ reservation.reserver.username }}</td>
                <td>{{ reservation.sport.name }}</td>
                <td>{{ reservation.slot.start_time }}</td>
                <td>{{ reservation.reservation_date }}</td>
                <td>{{ reservation.reservation_time }}</td>
                <td>{% if reservation.status %}Confirmed{% else %}Pending{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
              


    
        

    
    
   
    
 
   

    
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 

</body>
