{% extends "Navbar.html" %}

{% block content %}

    <div class="container mt-5">
        <h1 class="display-4">Connected Users</h1>

        <ul class="list-group mt-4">
            {% for user in connected_users %}
            <li class="list-group-item" style="color: #edf5e1; background-color: #05386b">
                    <div class="row">
                        <div class="col">
                            <strong>{{ user.user.username }}</strong>
                            <br>
                            Fitness Goal: {{ user.fitness_goal }}
                            <br>
                            Height: {{ user.height }} cm
                            <br>
                            Weight: {{ user.weight }} kg
                            <!-- Add more user-specific information here -->
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>

        <a href="{% url 'Members:fitness_trainer_dashboard' %}" class="btn btn-primary mt-4">Back to Trainer Dashboard</a>
    </div>

    <!-- Include Bootstrap JS (optional) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.2/dist/js/bootstrap.min.js"></script>
</body>
</html>
{% endblock %}
