{% extends 'Navbar.html' %}

{% block content %}
    <h1>Trainer's Reservations</h1>
    {% regroup reservations by date as date_reservations %}
    
    {% for date_group in date_reservations %}
        <h2>{{ date_group.grouper }}</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Equipment</th>
                    <th>Date</th>
                    <th>Time Slot</th>
                    <th>Fitness User</th>
                </tr>
            </thead>
            <tbody>
                {% for reservation in date_group.list %}
                    <tr>
                        <td>{{ reservation.equipment.name }}</td>
                        <td>{{ reservation.date }}</td>
                        <td>{{ reservation.timeslot }}</td>
                        <td>{{ reservation.fitness_user.user.username }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">No reservations found for this date.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
    
    
       
    
{% endblock %}
