{% extends "sadmin.html" %}

{% block content %}
    <div class="page-container">
        <div class="header-container" style=" color: #FFA07A;">
            <h1>Fitness Users</h1>
        </div>
        <table class="table table-striped table-bordered" style="background-color: #FFFFFF;">
            <thead>
                <tr style="color: #264653;">
                    <th>Username</th>
                    <th>Email</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                {% for user in fitness_users %}
                <tr>
                    <td >{{ user.user.username }}</td>
                    <td>{{ user.user.email }}</td>
                    <td >
                        <strong>Fitness Goal:</strong> {{ user.fitness_goal }}<br>
                        <strong>Height:</strong> {{ user.height }}<br>
                        <strong>Weight:</strong> {{ user.weight }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
