{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
    <!-- Add Bootstrap CSS link here -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
</head>

<body>
    <div class="container mt-4">
        <h1>All Users</h1>
        <div class="row">
            {% for user in users %}
            <div class="col-md-4 mb-4">
                <div class="card h-100 d-flex flex-column">
                    {% comment %} <img src="{% static 'path_to_user_image.jpg' %}" class="card-img-top" alt="User Image"> {% endcomment %}
                    <div class="card-body d-flex flex-column"  background="gr">
                        <h5 class="card-title">{{ user.username }}</h5>
                        <p class="card-text"><strong>Email:</strong> {{ user.email }}</p>
                        <p class="card-text"><strong>Role:</strong> {{ user.role }}</p>
                        {% if user.role == 'FitnessUser' %}
                        <p class="card-text"><strong>Fitness Goal:</strong> {{ user.fitnessuser.fitness_goal }}</p>
                        <p class="card-text"><strong>Height:</strong> {{ user.fitnessuser.height }}</p>
                        <p class="card-text"><strong>Weight:</strong> {{ user.fitnessuser.weight }}</p>
                        {% elif user.role == 'FitnessTrainer' %}
                        <p class="card-text"><strong>Experience:</strong> {{ user.fitnesstrainer.experience }}</p>
                        <p class="card-text"><strong>Certification:</strong> {{ user.fitnesstrainer.certification }}</p>
                        <p class="card-text"><strong>Training Goal:</strong> {{ user.fitnesstrainer.training_goal }}</p>
                        {% elif user.role == 'SportsTrainer' %}
                        <p class="card-text"><strong>Specialization:</strong> {{ user.sportstrainer.specialization }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
    <!-- Add Bootstrap JS and jQuery links here if needed -->
</body>
</html>
